<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upgrade</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
    </header>
    <main>
      <h1>Enter the Secret Code to Upgrade your Membership</h1>
      <form action="/enter-secret" method="POST">
        <label for="secretCode">Secret Code</label>
        <input id="secretCode" name="secretCode" type="password" />
        <button>Enter</button>
        <% if (message) { %>
        <div class="message-wrapper">
          <p class="error"><%= message %></p>
        </div>
        <% } %>
      </form>
    </main>
  </body>
</html>
