<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upgrade</title>
</head>
<body>
  <h1>Enter the Secret Code to Upgrade your Membership</h1>
  <form action="/enter-secret" method="POST">
    <label for="secretCode">Secret Code</label>
    <input id="secretCode" name="secretCode" type="password" />
    <button>Enter</button>
      <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  </form>
</body>
</html>
