<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret Code</title>
</head>
<body>
  <h1>Enter the Secret Code to Upgrade your Membership</h1>
  <form action="" method="POST">
    <label for="secretCode">Secret Code</label>
    <input id="secretCode" name="secretCode" type="password" />
    <button>Enter</button>
  </form>
</body>
</html>
