<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>
  <h1>Log In</h1>
  <form action="/log-in" method="post">
    <% if (errors) { %>
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
    <input type="text" name="username" placeholder="Username" value="<%= data ? data.username : '' %>">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Log In</button>
  </form>
  
</body>
</html>
